/* 
    Common CSS styles for all the files begins
*/

body {
    background-color: #fff;
    font-family: 'Roboto';
}

/* 
    Common CSS styles for all the files ends
*/



/* 
    CSS styles for Login and Signup pages begins
*/
#container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 150px auto 100px;
    grid-gap: 5px;

    /* vh: viewport height */
    min-height: 100vh;
    
    width: 100%;
    justify-items: center;
}

#header-auth{
    background-color: #004F2E;
    color: white;
    text-align: center;
    font-size: 38px;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

header h1 
{
    margin-top: 20px;
}

#main-left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#main-center{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#main-right{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
 
#footer-auth{
    background-color: black;;
    color: white;
    width: 100%;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.auth-form {
    margin-top: 60px;
    border: 2px solid #dedede;
    padding: 0px 20px 40px 20px;
    border-radius: 10px;
    width: 100%;
}

input {
    float: right;
    margin-left: 30px;
    width: 200px;
}

.foot-note {
    margin-left: 20px;
}

.form-submit {
    width: 100px;
}

.input-field {
    margin-top: 10px;
    margin-bottom: 6px;
}

.input-field:first-child {
    margin-top: 15px;
  }

.footer-text{
    margin-top: 35px;
    font-size: 20px;
}

/* 
    CSS styles for Login and Signup pages ends
*/


/* 
    CSS styles for loginHistory.html begins
*/
#container-login-history{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 150px auto 100px;
    grid-gap: 5px;
    width: 100%;
}

#header-login-history{
    background-color: #004F2E;
    color: white;
    text-align: center;
    font-size: 38px;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#main-left-login-history{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#user-info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

#login-sessions{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

#main-right-login-history{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
 
#footer-login-history{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.logout {
    font-size: 15px;
    float: right;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
    margin-top: 30px;
    margin-right: 20px;
}

#header-login-history h1{
    margin-left: 100px;
}

.update-info {
    font-size: 15px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
    margin: 20px 0px;
}

img{
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 10px;
}

h2 {
    color: #004F2E;;
    font-size: 30px;
    margin-bottom: 20px;
}

section {
    float: left;
    color: #34495E;
    padding-right: 30px;
}

img{
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 10px;
}

aside{
    float: left;
    padding-left: 30px;
    width: 100%;
}

#user-data{
    padding: 0px 0px 30px 20px;
    margin: 20px 0px;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.user-info-name {
    margin-bottom: 15px;
}

.user-info-dob {
    margin-bottom: 28px;
}

.session {
    margin: 10px 0px;
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 100%;
    color: #34495E;
    margin-left: 17px;
    padding-left: 10px;
}

/* 
    CSS styles for loginHistory.html ends
*/

/* CSS for DOM Manipulation Starts*/
.input-error {
    border-color: red;
}

.error-text {
    text-align: end;
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    font-style: italic;
    color: red;
    font-size: 0.8em;
}

.hidden{
    visibility: hidden;
}
/* CSS for DOM Manipulation Ends*/
